<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="io.waffle.srafi2"
          android:versionCode="4"
          android:versionName="1.1.2">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


	<application
        android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:theme="@style/GdxTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name=".AndroidLauncher"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".StartActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".Gamemodes"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".Help"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".Settings"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name=".GameOverActivity"
		          android:label="@string/app_name"
		          android:screenOrientation="portrait">
		</activity>
	</application>

</manifest>
